<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-window-visibility"
        version="1.0.1">
    <name>Window Visibility Plugin</name>
    <description>Cordova plugin to keep the window visible in background</description>
    <license>MIT</license>
    <keywords>cordova,window,visibility,background</keywords>
    
    <js-module src="www/windowVisibility.js" name="windowVisibility">
        <clobbers target="cordova.plugins.windowVisibility" />
    </js-module>
    
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="WindowVisibility">
                <param name="android-package" value="com.example.WindowVisibilityPlugin"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>
        
        <source-file src="src/android/WindowVisibilityPlugin.java" target-dir="src/com/example" />
        
        <preference name="VISIBILITY_DELAY" default="1000" />
    </platform>
</plugin>